#accountheader{
  text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ffc61a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 21px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#accountpagebuttons{
  text-align: center;
  }
